html
    head 
        title = "Productos"
    body 
        div 
            button(type='button' class='button'  onclick ="agregarProducto()") Agregar producto
            each product in products
                div 
                    p= product.title
                    p= product.price
                    p= product.thumbnail
    script.
        function agregarProducto() {
            location.href = '/'
        }