html
    head 
        title = "Productos"
    body 
        div 
            each product in products
                div 
                    p = product.title
                    p = product.price
                    p = product.thumbnail